{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center"></h1>


Education
Bachelor Of Computer Science and Engineering
* Velammal Institute Of Technology,Panchetti
06/2019 - Present, 8.27(till Sem5)
* Higher Secondary Certificate
Government Higher Secondary School-Pondavakkam
06/2018 - 05/2019, 69.13%(Biology Group)
* Secondary School Leaving Certificate
Kothandaraman High School-Uthokottai
07/2016 - 05/2017, 90.4%
Personal Details
Address : No.14,Perumal Temple Street,Melchitrapakam, Uthukottai602026,India.
Language : TAMIL,ENGLISH
Hard Skills
JAVA[OOPS CONCEPT]: Full Professional Proficiency
SQL : Professional Working Proficiency
C : Professional Working Proficiency
HTML & CSS :Professional Working Proficiency<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
